
Tanks3D/Temp/UnityLockfile
Tanks3D/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Zenject-Editor.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Zenject-IntegrationTests.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Zenject-PoolMonitor-Editor.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Zenject-UnitTests-Editor.csprojAssemblyReference.cache
Tanks3D/obj/Debug/Zenject.csprojAssemblyReference.cache
